.title {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.barra-acciones-title{
    align-self: center;
}

.barra-acciones-perfil{
    align-self: center;
}

.cont-asignar {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
  }

  .cont-contenido-opciones{
    padding: 20px;
  }