.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.barra-acciones-title{
    margin-top: 73px;
    display: flex;
    justify-content: center;
}

.barra-acciones-perfil{
    margin-top: 102px;
    margin-left: 78px;
    gap: 49px;
}

.cont-asignar {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    background-color: #F9F5F5;
    overflow-y: auto;
  }