.cont-perfiles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 100%; */
    background-color: #F9F5F5;
}

.cont-contenido-perfiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    /* height: 100%; */
}