.cont-usuario {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    max-width: 258px;
    margin-left: 5px;
  }
  
  .cont-ico-usuario {
    overflow: hidden;
    padding: 0px;
    padding-top: 7px;
    border-radius: 50%;
    background-color: var(--color-fondo-input);
    width: 50px;
    height: 50px;
  }
  
  .usuario-inicial,
  .format-ico-usuario-card {
    filter: invert(0.75);
    /* font-size: 2rem; */
    /* border-radius: 50%;
    background-color: var(--color-fondo-input); */
    /* width: 50px;
    height: 50px; */
    /* line-height: 50px; */
    /* vertical-align: middle; */
    /* text-align: center; */
  }
  
  .usuario-textos {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .usuario-textos > p {
    white-space: nowrap;
    overflow: hidden;
  }
  
  .usuario-textos > p:first-child {
    font-size: 1.1rem;
    margin-bottom: 0em;
  }
  
  .usuario-textos > p:nth-child(2) {
    font-size: 0.9rem;
    margin-bottom: 0em;
    color: var(--color-texto-low);
  }
  
  .usuario-estado {
    display: grid;
    grid-template-columns: 1fr 10px;
    align-items: center;
    gap: 5px;
  }
  
  .usuario-estado > p {
    font-size: 1.1rem;
    margin-bottom: 0em;
    /* color: var(--color-texto-low); */
    /* font-weight: bold; */
  }
  