.cont-seccion-mantenimiento {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.cont-seccion-mantenimiento > div {
  display: grid;
  flex-direction: column;
  gap: 20px;
}

.cont-producto {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: linear-gradient(
    -45deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.cont-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}