.cont-pesos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  gap: 20px;
}

.cont-grafico {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: linear-gradient(
    -45deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  
}