  .cont-reporte {
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-width: 300px;
    background: linear-gradient(
      -45deg,
      rgba(235, 235, 235, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  
  .cont-reportes {
    padding-top: 20px;
    padding-left: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }