.cont-form-centro {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .cont-form-centro > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .form-centro-acciones {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .form-centro-toggle {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    width: 100px;
    align-self: center;
  }

  .titulo-centro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    align-items: center;
    text-align: center;
    color: #000000;
  }
  