.cont-app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  overflow: auto;
}

.cont-contenido-app {
  padding: 10px;
}

.cont-seccion {
  width: 100%;
  display: block;
  margin: 0 auto;
  background-color: var(--color-fondo-seccion);
  padding: var(--padding-seccion);
  border-radius: var(--radio-seccion);
  box-shadow: var(--sombra-seccion);
}

.cont-card {
  background-color: var(--color-fondo-card);
  border-radius: var(--radio-card);
  box-shadow: var(--sombra-card);
  padding: var(--padding-card);
}

.cont-2-columnas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-full-width {
  grid-column: 1/-1;
}

.grid-gap-form {
  gap: 15px;
}

.cont-btns {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 10px;
}

.cont-acciones {
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
  bottom: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cont-acciones .acciones-accion {
  display: grid;
  grid-template-rows: 30px max-content;
  justify-items: center;
  cursor: pointer;
}

.cont-acciones .acciones-accion > p {
  font-size: 0.8rem;
  color: var(--color-texto-lowest);
  opacity: 0;
  transition: opacity var(--transicion-rapida);
}
.cont-card:hover .cont-acciones .acciones-accion > p {
  opacity: 1;
}
.cont-card:hover .cont-acciones .acciones-accion > div {
  opacity: 0.5;
}

/* .titulo-pagina{
  padding-left: 5px;
  border-left: 3px solid var(--color-principal);
} */

.encabezado-nombre-barra-buscar {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  align-items: flex-start;
}

.encabezado-nombre-barra-buscar > :first-child {
  justify-self: flex-start;
}
.encabezado-nombre-barra-buscar > :nth-child(2) {
  justify-self: center;
}
.encabezado-nombre-barra-buscar > :nth-child(3) {
  justify-self: flex-end;
}

.input-border {
  border: 1px solid lightgray;
  border-radius: 4px;
}

.cont-loader-full-container {
  margin: auto;
  align-content: center;
  justify-content: center;
  display: grid;
  width: 100%;
  height: 100%;
}

.max-content {
  width: max-content;
}

.btn-atras-seccion::after {
  width: 140px;
  height: 40px;
  background-color: var(--color-fondo-app);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.btn-atras-seccion {
  position: absolute;
  top: 0;
  left: 0;
}

.btn-atras-seccion .btn {
  position: absolute;
  top: 4px;
  /* left: 140px; */
  left: 10px;
  z-index: 10;
}

.cont-btns-derecha {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin: 0 10px;
}

.cont-mensaje-centro-pantalla {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cont-label-state > p:first-child {
  color: var(--color-texto-low);
  font-size: 0.85rem;
}

.cont-label-state {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cont-flex-vertical-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cont-grid-equal-gap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  gap: 10px;
}
.cont-flex-gap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.cont-flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.oculto {
  opacity: 0;
}

.cont-btnAtras-titulo {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
