.loader {
  display: inline-block;
  /*width: 19px;
  height: 19px;*/
}
.loader:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  /* margin: 8px; */
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: animacionLoader 1.2s linear infinite;
}
@keyframes animacionLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ico-fecha {
  content: url(../media/ico/calendar.svg);
}

.ico-balanza {
  content: url(../media/ico/scale.svg);
}

.ico-desplegar {
  content: url(../media/ico/expandir.svg);
}

.ico-lista {
  content: url(../media/ico/lista.svg);
}

.ico-ciudad {
  content: url(../media/ico/tierra.svg);
}

/* Iconos de estado */
.ico-aprobado {
  content: url(../media/ico/check.svg);
}

.ico-exito {
  content: url(../media/ico/check.svg);
}

.ico-error {
  content: url(../media/ico/error.svg);
}

.ico-advertencia {
  content: url(../media/ico/advertencia.svg);
}
/* Fin iconos de estado */

/* iconos de acción */

.ico-editar {
  content: url(../media/ico/lapiz.svg);
}

.ico-lapiz {
  content: url(../media/ico/lapiz.svg);
}

.ico-documento {
  content: url(../media/ico/documento.svg);
}

.ico-estrella {
  content: url(../media/ico/estrella.svg);
}
/* iconos de acción */

.ico-casa {
  content: url(../media/ico/casa.svg);
}

.ico-phone {
  content: url(../media/ico/phone.svg);
}

.ico-ruc {
  content: url(../media/ico/ruc.svg);
}

.ico-fecha {
  content: url(../media/ico/calendar.svg);
}

.ico-lupa {
  content: url(../media/ico/lupa.svg);
}

.ico-empresa {
  content: url(../media/ico/edificio.svg);
}

.ico-email {
  content: url(../media/ico/email.svg);
}

.ico-eliminar {
  content: url(../media/ico/basurero.svg);
}

.ico-guardar {
  content: url(../media/ico/guardar.svg);
}

.ico-anadir {
  content: url(../media/ico/plus.svg);
}

.ico-cerrar {
  content: url(../media/ico/close.svg);
}

.ico-tecnico {
  content: url(../media/ico/tecnico.svg);
}

.ico-descargar2 {
  content: url(../media/ico/flechaAbajo.svg);
}
.ico-cargar {
  content: url(../media/ico/upload.svg);
}
.ico-descargar {
  content: url(../media/ico/download.svg);
}

.ico-filtro {
  content: url(../media/ico/embudo.svg);
}

.ico-atras {
  content: url(../media/ico/flechaAtras.svg);
}

.ico-reloj {
  content: url(../media/ico/reloj.svg);
}

.ico-marcas {
  content: url(../media/ico/marca2.svg);
}

.ico-candado {
  content: url(../media/ico/candado.svg);
}

.ico-machine {
  content: url(../media/ico/machine.svg);
}
.ico-product {
  content: url(../media/ico/product.svg);
}
.ico-room {
  content: url(../media/ico/room.svg);
}

.ico-configuracion {
  content: url(../media/ico/engranaje.svg);
}

.ico-termometro {
  content: url(../media/ico/termometro.svg);
}

.ico-humedad {
  content: url(../media/ico/humedad.svg);
}

.ico-peso-patron {
  content: url(../media/ico/pesa.svg);
}

.ico-login {
  content: url(../media/ico/login.svg);
}

.ico-cerrar-sesion {
  content: url(../media/ico/flechaAbajo.svg);
  transform: rotate(-90deg);
}

.ico-usuarios {
  content: url(../media/ico/usuarios.svg);
}

.ico-usuario {
  content: url(../media/ico/usuario.svg);
}

.ico-estado-activo {
  border-radius: 50%;
  background-color: rgb(31, 206, 54);
}

.ico-estado-inactivo {
  border-radius: 50%;
  background-color: var(--eliminar);
}

.ico-cambiar {
  content: url(../media/ico/repeat.svg);
}

.ico-edit {
  content: url(../media/ico/edit.svg);
}

.ico-copiar {
  content: url(../media/ico/copiar.svg);
}

.ico-flecha-desplegar {
  content: url(../media/ico/flechaDesplegar.svg);
}

.ico-chart {
  content: url(../media/ico/chart.svg);
}

.ico-martillo {
  content: url(../media/ico/martillo.svg);
}

/* iconos figma*/
.ico-persona-circulo-figma {
  content: url(../media/ico/bi_person-circle.svg);
}

.ico-user-figma{
  content: url(../media/ico/bx_user.svg);
}

.ico-user-badge-figma{
  content: url(../media/ico/bxs_user-badge.svg);
}

.ico-user-detail-figma{
  content: url(../media/ico/bxs_user-detail.svg);
}

.ico-user-certification-figma{
  content: url(../media/ico/carbon_user-certification.svg);
}

.ico-ci-file-figma{
  content: url(../media/ico/ci_file-pdf.svg);
}

.ico-option-figma{
  content: url(../media/ico/option.svg);
}

.ico-user-check-figma{
  content: url(../media//ico/user-check.svg);
}

.ico-user-cog-figma{
  content: url(../media/ico/user-cog.svg);
}

.ico-user-friends-figma{
  content: url(../media/ico/user-friends.svg);
}

.ico-user-list{
  content: url(../media/ico/user-list.svg);
}
/* formatos */

.format-ico-form {
  width: 17px;
  max-height: 17px;
  /* filter: invert(70%); */
  margin: 0 10px;
}

.format-ico-form-validacion {
  width: 17px;
  max-height: 17px;
  margin: 0 10px;
}

.format-ico-busqueda {
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.format-ico-btn {
  width: 20px;
  max-height: 20px;
  filter: invert(22%) sepia(38%) saturate(6143%) hue-rotate(336deg)
    brightness(90%) contrast(99%);
}

.format-ico-btn-rojo {
  width: 17px;
  max-height: 17px;
  -webkit-filter: invert(1) brightness(0.4) sepia(1) hue-rotate(320deg)
    saturate(4);
  filter: invert(1) brightness(0.4) sepia(1) hue-rotate(320deg) saturate(4);
  margin-right: 5px;
}

.format-ico-app {
  width: 90px;
}

.format-ico-titulo-form {
  padding: 3px;
  filter: invert(1);
  background-color: rgb(220, 100, 100);
  border-radius: 6px;
}

.format-ico-loader {
  height: 32px;
  width: 32px;
  filter: invert(1);
}


.format-ico-tarjeta {
  height: 15px;
}

.format-ico-titulo {
  height: 20px;
  /* filter:invert(40%) sepia(25%) saturate(1294%) hue-rotate(165deg) brightness(103%) contrast(104%); */
}

.format-ico-accion,
.format-ico-accion-nofilter {
  height: 30px;
}

.format-ico-accion {
  /* filter: invert(0.3); */
  opacity: 0.1;
}

.cont-ico-usuario-card,
.cont-ico-usuario-card-config {
  font-size: 1.7em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  align-self: center;
  box-shadow: var(--borde-input);
}

.cont-ico-usuario-card-config {
  box-shadow: none;
}

.format-ico-usuario-card {
  margin-top: 5px;
  height: 40px;
  filter: invert(0.8);
}

.format-ico-usuario-config {
  margin-top: 5px;
  height: 40px;
  filter: invert(0.95);
}

.format-ico-row-table {
  height: 25px;
}

.format-ico-estado {
  height: 15px;
}

.format-ico-navbar {
  height: 25px;
  filter: invert(0.25);
}

.format-ico-seccion {
  height: 25px;
  filter: invert(0.4);
}
