.cont-detalle {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-auto-rows: max-content;
  gap: 35px;
  padding: 25px;
  overflow-y: auto;
  height: calc(100vh - 10px);
}

.detalle-chart {
  height: 100%;
  width: 100%;
}
