.btn {
  border-radius: var(--radio-input);
  outline: none;
  border: none;
  /* box-shadow: var(--borde-input); */
  background-color: var(--color-fondo-button);
  color: var(--color-principal);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: calc(var(--radio-input) * 4);
  align-items: center;
  padding: 0 var(--padding-btn);
  padding-right: calc(var(--padding-btn) * 1.5);
  justify-content: center;
}

.btn:hover {
  background-color: var(--color-principal);
  /*box-shadow: var(--borde-input);*/
  color: var(--color-texto-active);
}

.btn:hover.disabled {
  background-color: var(--fondo);
  color: var(--color-texto-lowest);
  cursor: default;
}

.btn:hover .format-ico-btn {
  filter: invert(1);
}
.btn:hover.disabled .format-ico-btn {
  filter: invert(0.5);
}
.btn.disabled .format-ico-btn {
  filter: invert(0.5);
}

.btn span {
  padding-top: 1px;
  font-size: 0.9rem;
}

.disabled {
  background-color: var(--fondo);
  color: var(--color-texto-lowest);
  /* border-radius: 15px; */
  filter: unset;
  cursor: default;
  /* box-shadow: none; */
}

.editar{
  background-color: var(--color-fondo-editar);
  color: white;
  border-radius: 15px;
}

.editar:hover{
  /*background-color: var(--color-fondo-borrar);*/
}

.borrar{
  background-color: var(--color-fondo-borrar);
  color: white;
  border-radius: 15px;
}

.aceptar{
  background-color: var(--color-fondo-aceptar);
  border-radius: 15px;
}

.cancelar{
  background-color: var(--color-fondo-cancelar);
  border-radius: 15px;
}

.btn:hover .btn-label-rojo {
  color: var(--color-texto-active);
}

input.disabled,
button.disabled {
  box-shadow: var(--borde-input);
}

.btn-only-ico,.btn-only-text{
  gap: 0;
  padding: 0 var(--padding-btn);
}

.btn-open-on-hover{
  white-space: nowrap;
  max-width: 35px;
  overflow: hidden;
  transition: max-width var(--transicion-rapida);
  justify-content: flex-start;
}
.btn-open-on-hover:hover{
  width: max-content;
  max-width: 200px;
}
